/*Modal adm*/
.modal, .Modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex; 
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
#ModalAdm {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}


.hidden {
  display: none !important;
}

.Modal-content {
  background: #fff;
  padding: 20px;
  width: 320px;
  border-radius: 8px;
}

.Modal-content label {
  display: block;
  margin-top: 10px;
}

.acoes {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
