* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #011826;
}
.container {
  text-align: center;

  width: 350px;
  background: #132640;
  padding: 25px;
  border-radius: 10px;
  color: #9f86a6;
  margin: 80px auto;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #fc80db;
  color: #132640;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  font-size: 11px;
  cursor: pointer;
  color: #9f86a6;
  margin-top: 10px;
}

.hidden {
  display: none;
}

header {
  background: #132640;
  color: #9f86a6;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
}

.card {
  background: #f2aee0;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.card hover {
  transform: scale(1.05);
}

.card h3 {
  margin: 10px 0 5px;
  color: #9f86a6;
}

.card p {
  font-size: 14px;
  color: #9f86a6;
}
