/*Modal user*/
body {
  font-family: Arial, sans-serif;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  width: min(90vw, 400px);
  max-height: 85vh;

  padding: 20px;
  border-radius: 8px;

  overflow-y: auto;
}

@media (max-height: 500px) {
  .modal-content {
    max-height: 95vh;
    padding: 12px;
  }
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content label {
  display: block;
  margin-top: 10px;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

.modal-content button {
  margin-top: 15px;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

#fecharModal {
  float: right;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

