@import url("https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Nunito", sans-serif;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #011826;
  /*overflow-x: hidden;*/
}

main {
  background-color: #011826;
  display: flex;
  flex-flow: column;
  color: white;
  max-width: 1900px;
  /*width: 100%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 22px;
}
main a {
  text-decoration: none;
}

header {
  /* background-color: #132640;*/
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 5px;
  gap: 600px;
  margin: 20px 12px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
header img {
  border-radius: 50%;
  background-color: #132640;
  font-size: 25px;
  font-weight: 800;
  margin-left: -70px;
  margin-top: 4px;
}
header .contact {
  background-color: #f2aee0;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  padding: 5px;
  margin-right: -100px;
  margin-bottom: 5px;
}
header .contact a {
  text-decoration: none;
}
.contact:hover {
  background-color: #fc80db;
  transition: background-color 0.3s ease-in-out;
  transform: scale(1.08);
  color: #4f6f9b;
}
.menu {
  display: flex;
  flex-flow: row wrap;
  margin-left: 100px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.homeBout a {
  margin-right: 20px;
  font-weight: bold;
  text-decoration: none;
}
.homeBout a:hover {
  border-top: 2px solid #f0cde6;
  transition: border-top 0.1s ease-in-out;
}

.face {
  display: flex;
  flex-flow: row wrap;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 40px;
  margin-right: 40px;
  gap: 20px;
  padding: 6px;
  max-width: 1400px;
  height: auto;
  width: 100%;
  background-color: #132640;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.dizeres {
  flex: 1;
  padding: 8px;
  width: 200px;
  height: 400px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #132640;
}
.dizeres h1,
p {
  color: #f2aee0;
  margin-left: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}
.dizeres h1 {
  font-family: "Rubik Gemstones", system-ui;
  letter-spacing: 5px;
  font-size: 35px;
}
.cadastrar {
  background-color: #f2aee0;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 6px;
  margin-left: 32px;
}
.cadastrar:hover {
  background-color: #fc80db;
  transition: background-color 0.3s ease-in-out;
  transform: scale(1.08);
  color: #03214b;
}

.imageMain {
  flex: 1;
  padding: 5px;
  width: 200px;
  height: 400px;
  background-position: center;
  background-color: #132640;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.imageMain img {
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /*opacity: 0.5;*/
}
.img-carrossel.ativa {
  opacity: 1; /* Apenas a imagem com a classe 'ativa' aparece */
}
.img-carrossel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0; /* Começam invisíveis */
  transition: opacity 1.5s ease-in-out; /* Define a suavidade (1.5 segundos) */
}
.cardsOque {
  max-width: 1400px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 9px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
  padding: 25px;
  text-align: center;
  margin-bottom: 50px;
  height: auto;
  background-color: #132640;
}
.cardsOque h2 {
  font-family: "Rubik Gemstones", system-ui;
  letter-spacing: 8px;
  font-size: 30px;
  color: #fc80db;
}
.card {
  border: 4px double rgba(214, 190, 206, 0.973);
  border-radius: 50%;
  padding: 20px;
  height: auto;
  cursor: pointer;
  width: 280px;
  color: #f2aee0;
  text-align: center;
}
.card:hover {
  color: #03214b;
  background-color: #5b5d61;
  transition: background-color 0.5s ease-in-out;
  transform: scale(1.1); /* Aumenta o tamanho visualmente em */
  transform-origin: left; /* Garante que ele cresce para a direita, sem sair da margem */
  transition: transform 0.3s ease-in-out;
}
.cards {
  border: 4px double rgba(214, 190, 206, 0.973);
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: #132640;
  margin-top: 10px;
  height: auto;
}
.userRate {
  max-width: 1400px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 9px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
  padding: 16px;
  text-align: center;
  margin-bottom: 50px;
  height: auto;
  background-color: #132640;
}
.user {
  border: 4px double rgba(214, 190, 206, 0.973);
  border-radius: 50%;
  padding: 20px;
  height: auto;
  cursor: pointer;
  width: 280px;
  color: #f2aee0;
  text-align: center;
}
.users {
  border: 4px double rgba(214, 190, 206, 0.973);
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px;
  background-color: #132640;
  margin-top: 10px;
  height: auto;
}
footer {
  /* Alinhamento */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /* Isso faz a mágica: uma na ponta, uma no meio, uma na outra ponta */
  justify-content: space-between;

  /* Dimensões - Ajustei o max-width para caber as 3 divs lado a lado */
  width: 100%;
  /* Estilização */
  gap: 20px; /* Reduzi o gap para não quebrar o layout em telas menores */
  padding: 60px;
  background: linear-gradient(135deg, #011826, #132640, #f2aee0, #fc80db);
  margin-top: 120px;
}

footer div {
  padding: 48px;
  height: auto;
  width: 295px;
  font-size: 12px;
  margin-bottom: 10px;
}
footer div * {
  font-family: "Times New Roman", Times, serif;
}
footer div a {
  text-decoration: none;
  display: block;
  /* Adiciona aqui para garantir suavidade */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Para compatibilidade com Safari/Chrome antigo */
}
footer div a:hover {
  transform: scale(1.1); /* Aumenta o tamanho visualmente*/
  transform-origin: left; /* Garante que ele cresce para a direita, sem sair da margem */
  transition: transform 0.3s ease-in-out;
  backface-visibility: hidden;
}
footer .dev a,
p {
  color: #f2aee0;
  text-align: center;
}
footer .orgInfo * {
  color: #03214b;
  text-align: center;
}
.informacoes * {
  text-align: center;
  color: #f2aee0;
}

@media (max-width: 600px) {
  header {
    gap: 150px;
  }
}
/*
.userRate {
  border: 1px solid green;
  max-width: 1400px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 9px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
  padding: 16px;
  text-align: center;
  margin-bottom: 50px;
  height: auto;
  background-color: #132640;
}
.user {
  border: 4px double rgba(214, 190, 206, 0.973);
  border-radius: 50%;
  padding: 20px;
  height: auto;
  cursor: pointer;
  width: 280px;
  color: #f2aee0;
  text-align: center;
}
.users {
  border: 4px double rgba(214, 190, 206, 0.973);
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px;
  background-color: #132640;
  margin-top: 10px;
  height: auto;
}* perfeito para media cell*/
